/* Check out */
.title-myCart {
    margin-top: 106px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
  }
  .title-myCart .title-check {
    display: flex;
    padding: 80px 0px;
    justify-content: space-between;
  }
  .title-myCart .title-check p {
    margin-bottom: 10px;
  }
  .title-myCart .title-check .number-cart4 {
    border: 1px solid pink;
    padding: 26px 32px;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    color: black;
  }
  .title-myCart .title-check .number-cart5 {
    background-color: pink;
    color: white;
    padding: 26px 32px;
    border-radius: 50%;
    font-weight: bold;
    width: 78px;
    height: 78px;
  }
  .title-myCart .title-check .number-cart6 {
    padding: 26px 32px;
    border-radius: 50%;
    border: 1px solid pink;
    font-weight: bold;
    width: 78px;
    height: 78px;
  }
  .title-check i {
    transform: translateY(30%);
  }
.CHECKOUT2 {
    margin-bottom: 16px;
}
.information label {
    font-weight: 600;
}
.btn-order {
    margin: 23px 0px;
    /* display: flex;
    justify-content: space-between; */
    transform: translateY(-300%);
}
.return {
    text-decoration: underline;
    font-weight: 600;
}
.btn-checkout2 {
    border: none;
    background-color: black;
    color: #fff;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: dashed;
    
  }
.btn-checkout2:hover {
    border: none;
    background-color: red;
    transition: 0.3s ease-in-out;
  }
  .checkout1 {
    padding: 15px;
    background-color: #f4f6f8;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    height: 20%;
  }
  .checkout1 p{
    font-weight: bold;
  }
  .total-item {
    display: flex;
    justify-content: space-between;
  }
