* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: darkgray; */
    /* background-color: #f59e9e; */
    background-color: white;
  }
  header {
    /* background-color: #fde7e7; */
    background-color: #fadcf3;
    /* background-color: #f9cee8; */
    /* background-color: #f5b8d6; */
    /* background-color: #f2a0c4; */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0px;
    transition: all 0.6s ease-in-out;
    z-index: 1;
  }
  header.sticky {
    background-color: #fff;
    opacity: 0.9;
    padding: 5px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .logo img {
    width: 90px;
    height: 60px;
  }
  nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 10px 18px;
    font-weight: bold;
    color: black;
    display: block;
  }
  
  nav li:hover {
    background-color: #f8f8f8;
    border-radius: 6px;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  nav li:hover a {
    text-decoration: dashed;
  }
  .icon-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .icon-header form {
  width: 450px;
  padding-left: 0px;
  }
  .icon-header .input-group .form-control {
    border-radius: 1.5rem;
  }
  .input-group .input-group-append {
    border-right: 1.5rem; 
  }
  .icon-header a i {
  font-size: 21px;
  }
  .icon-header .icon-uc:hover {
    transform: scale(1.4);
    transition: background-color 0.3s, transform 0.3s;
  }
  .icon-header .icon-search {
  border-radius: 1.5rem;
  padding: 15px;
  cursor: pointer;
  }
  .icon-header .icon-uc {
    padding-top: 5px;
    padding-left: 20px;
    cursor: pointer;
    text-decoration: dashed;
  }
  .count-cart {
      font-size: 15px;
      font-weight: bold;
      background-color: white;
      padding: 4px 8px;
      text-decoration: dashed;
      border-radius: 10px;
      color: red;
  }

/* Check out */
.title-myCart {
    margin-top: 106px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
  }
  .title-myCart .title-check {
    display: flex;
    padding: 80px 0px;
    justify-content: space-between;
  }
  .title-myCart .title-check p {
    margin-bottom: 10px;
  }
  .title-myCart .title-check .number-cart1 {
    border: 1px solid pink;
    padding: 26px 32px;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    color: black;
  }
  .title-myCart .title-check .number-cart2 {
    background-color: pink;
    color: white;
    padding: 26px 32px;
    border-radius: 50%;
    font-weight: bold;
    width: 78px;
    height: 78px;
  }
  .title-myCart .title-check .number-cart3 {
    padding: 26px 32px;
    border-radius: 50%;
    border: 1px solid pink;
    font-weight: bold;
    width: 78px;
    height: 78px;
  }
  .title-check i {
    transform: translateY(30%);
  }
.CHECKOUT {
    margin-bottom: 16px;
}
.information label {
    font-weight: 600;
}
.btn-order {
    margin: 23px 0px;
    display: flex;
    justify-content: space-between;
}
.return {
    text-decoration: underline;
    font-weight: 600;
}
.btn-checkout {
    border: none;
    background-color: black;
    color: #fff;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: dashed;
  }
.btn-checkout:hover {
    border: none;
    background-color: red;
    transition: 0.3s ease-in-out;
  }
  .checkout {
    padding: 15px;
    background-color: #f4f6f8;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    height: 20%;
  }
  .checkout p{
    font-weight: bold;
  }
  .total-item {
    display: flex;
    justify-content: space-between;
  }
/* Footer */
.footer {
    color: black;
    background-color: #fde7e7;
  }
  .row a{
    color: black;
  }
  .row a:hover {
    color: blue;
    text-decoration: dashed ;
  }
  .about-us h5 {
    margin-bottom: 32px;
  }
  
  .quick-links li {
    list-style-type: none;
    margin-bottom: 16px;
  }
  
  .quick-links h5 {
    margin-bottom: 32px;
  }
  .social-network h5 {
    margin-bottom: 32px;
  }
  .social-network p:hover {
    color: blue;
    cursor: pointer;
  }
  .social-network i {
    padding-right: 5px;
  }
  .infomation h5 {
    margin-bottom: 32px;
  }
  .infomation li {
    list-style-type: none;
    margin-bottom: 16px;
  }
  .infomation i {
    padding-right: 6px;
  }
  


  /* Back to Top */
#backtop {
    width: 52px;
    height: 52px;
    background-color: #fadcf3;
    color: fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
  }
  #backtop:hover {
    background-color: #f2a0c4;
    transition: 0.2s ease-in-out;
  }
  #backtop i {
    color: tomato;
  } 
  #backtop:hover i {
    color: #fff;
  }
  
  