<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View my cart</title>
    <link rel="icon" type="image/x-icon" href="./icon_web/1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" href="./myStyle/complete.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark">            
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-around" id="mainNavbar">
                <div class="logo">
                    <a href="#" class="">
                        <img src="./logo.png" alt="" class="d-block">
                    </a>
                </div>
                <ul class="navbar-nav">
                    <li> 
                        <a href="../Home/home.html">Home</a>
                    </li>
                    <li> 
                        <a href="./products.html">Products</a>
                    </li>
                    <li> 
                        <a href="../gallery/Gallery.html">Gallery</a>
                    </li>
                    <li> 
                        <a href="../feature/feature.html">Features</a>
                    </li>
                    <li> 
                        <a href="">About Us</a>
                    </li>
                    <li> 
                        <a href="#contact-us">Contact</a>
                    </li>
                </ul>   
                <div class="icon-header">
                    <form action="">
                        <div class="input-group" >
                            <input type="text" class="form-control" ng-model="search.name" placeholder="Search for anything" id="search" name="search">
                            <div class="input-group-append">
                              <span class="input-group-text icon-search "><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
                            </div>
                        </div>
                    </form>
                    <a href="" class="icon-uc text-dark"><i class="fa-solid fa-user fa-xl"></i></a>
                    <a ng-click="showcart()" class="icon-uc text-dark" >
                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                        <sup class="count-cart" ng-show="count > 0">{{ count }} </sup>
                    </a>
                </div>
            </div>                  
        </nav>
    </header>  
    <!-- Check out -->
    <section class="container">
        <div class="title-myCart row justify-content-center">
            <div class="title-check col-md-8">
                <div>
                    <p class="number-cart1">1</p>
                    <p style="font-weight: 600;">CART</p>
                </div>
                <i class="fa-solid fa-angles-right fa-xl"></i>
                <div>
                    <p class="number-cart2">2</p>
                    <p style="font-weight: 600;">CHECKOUT</p>
                </div>
                <i class="fa-solid fa-angles-right fa-xl"></i>
                <div>
                    <p class="number-cart3">3</p>
                    <p style="font-weight: bold;">COMPLETE</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container mb-5">
        <h2 class="CHECKOUT text-center">Order placed</h2>
        <div class="row justify-content-center">
            <div class="checkout col-md-4">
               <div>
                    <p class="text-uppercase">Order summary</p>
                    <hr>
                    <div class="total-item" ng-repeat="item in cartItems">
                        <div>
                            <p>{{ item.name }} <span style="color: red;">x</span> {{ item.quantity }} </p>
                        </div>
                        <div >
                            <p>${{ calculateSubTotal(item) | number: 2 }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="total-item">
                        <div>
                            <p>Item(s) total</p>
                            <p>Shipping</p>
                        </div>
                        <div >
                            <p>${{ totalPrice | number: 2 }}</p>
                            <p>${{ shipping | number: 2 }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="total-item">
                        <p style="font-weight: bold;">Total </p>
                        <p style="color: red;">${{ total| number: 2 }}</p>
                    </div>
                    <a href="../Home/home.html" class="d-flex justify-content-center">
                        <button type="submit" class="btn-checkout" ng-click="returnHome()">Click here to return to the homepage</button>
                    </a>
               </div>
            </div>
            
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer p-5">
        <div class="container">
            <div class="row">
                <div class="about-us col-md-4">
                    <h5 class="text-uppercase">About Us</h5>
                    <p>Giftshop is a store specializing in providing unique and meaningful gift products for special occasions.
                        We always prioritize customer satisfaction and are committed to providing quality products at reasonable prices.
                        </p>
                </div>
                <!-- quick links -->
                <div class="quick-links col-md-2">
                    <h5 class="text-uppercase">Menu</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="#">HOME</a></li>
                        <li class="nav-item"><a href="#">PRODUCTS</a></li>
                        <li class="nav-item"><a href="#">GALLERY</a></li>
                        <li class="nav-item"><a href="#">FEATURES</a></li>
                    </ul> 
                </div>
                <div class="col-md-2">
                    <div class="social-network">
                        <h5 class="text-uppercase">Socials</h5>
                        <p class="text-uppercase"><i class="fa-brands fa-facebook fa-xl"></i>Facebook</p>
                        <p class="text-uppercase"><i class="fa-brands fa-twitter fa-xl"></i>Twitter</p>
                        <p class="text-uppercase"><i class="fa-brands fa-instagram fa-xl"></i>Instagram</p>
                        <p class="text-uppercase"><i class="fa-brands fa-youtube fa-xl"></i>Youtube</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infomation">
                        <h5 class="text-uppercase">Contact</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><i class="fa-regular fa-envelope"></i>GiftShop@fpt.edu.vn</li>
                            <li class="nav-item"><i class="fa-solid fa-phone"></i>1900 1508</li>
                            <li class="nav-item"><i class="fa-solid fa-building"></i>8A-Ton That Thuyet-My Dinh-Ha Noi</li>
                            <li class="nav-item"><i class="fa-regular fa-clock"></i>8:00 - 18:00</li>
                        </ul> 
                    </div>                
                </div>
            </div>
        </div>
    </footer>

    <script src="./products.js"></script>
    <script src="./appProducts.js"></script>
</body>
</html>