<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="icon" type="image/x-icon" href="./icon_web/1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" href="./products.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">

   <!-- Header -->
   <header>
    <nav class="navbar navbar-expand-md navbar-dark">            
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="mainNavbar">
            <div class="logo">
                <a href="#" class="">
                    <img src="./logo.png" alt="" class="d-block">
                </a>
            </div>
            <ul class="navbar-nav">
                <li> 
                    <a href="../Home/home.html">Home</a>
                </li>
                <li> 
                    <a href="#">Products</a>
                </li>
                <li> 
                    <a href="../gallery/Gallery.html">Gallery</a>
                </li>
                <li> 
                    <a href="../feature/feature.html">Features</a>
                </li>
                <li> 
                    <a href="">About Us</a>
                </li>
                <li> 
                    <a href="#contact-us">Contact</a>
                </li>
            </ul>   
            <div class="icon-header">
                <form action="">
                    <div class="input-group" >
                        <input type="text" class="form-control" ng-model="search.name" placeholder="Search for anything" id="search" name="search">
                        <div class="input-group-append">
                          <span class="input-group-text icon-search "><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
                        </div>
                    </div>
                </form>
                <a href="" class="icon-uc text-dark"><i class="fa-solid fa-user fa-xl"></i></a>
                <a ng-click="showcart()" class="icon-uc text-dark" ><i class="fa-solid fa-cart-shopping fa-xl"></i>
                    <span ng-show="count > 0">{{ count }} </span>
                </a>
            </div>
        </div>                  
    </nav>
</header>  
    <!-- Show cart -->
    <section class="showcart" ng-show="showCart" >
        <a ng-click="closeCart()">
            <i class="icon-close fa-solid fa-xmark fa-2xl"></i>
        </a>
        <h2>Your cart ({{ count }} items)</h2>
        <table >
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                    <th>Action</th>                    
                </tr>
            </thead>
            <tbody id="mycart" >
                <tr ng-repeat="item in cartItems">
                    <td><img style="width: 100px; border-radius: 10px;" ng-src="{{ item.img }}" alt=""></td>
                    <td>${{ item.price }}</td>
                    <td class="buy-amount">
                        <input type="number" value="1" min="1">
                    </td>
                    <td></td>
                    <td><button class="btn-delete" ng-click="delete(item.id)"><i class="fa-solid fa-trash fa-xl"></i></button></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="price-total">
            <p style="font-weight: bold;">Total: $</p>
        </div>
        <button class="btn-checkout">Go to checkout</button>
    </section>
    <!-- <div class="overlay"  ng-click="closeCart()"></div> -->

    <!-- Title -->
    <section class="title container-fluid">
        <h1 class="text-title">Products</h1>
    </section>
    <!-- Products -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="filter col-sm-4 col-md-4 col-lg-3">
                    <h2 class="text-catalogies">Categories</h2>
                    <div class="catalogies">
                        <button class="btn-catalogies btn-1" ng-click="filterByCategory('All')">All</button>
                        <button class="btn-catalogies btn-2" ng-click="filterByCategory('Snowball')">Snowball</button>
                        <button class="btn-catalogies btn-1" ng-click="filterByCategory('Ornaments')">Ornaments</button>
                        <button class="btn-catalogies btn-2" ng-click="filterByCategory('Clock')">Clock</button>
                        <button class="btn-catalogies btn-1" ng-click="filterByCategory('Hourglass')">Hourglass</button>
                        <button class="btn-catalogies btn-2" ng-click="filterByCategory('Picture Frame')">Picture frame</button>
                        <button class="btn-catalogies btn-1" ng-click="filterByCategory('Mug')">Mugs</button>
                        <button class="btn-catalogies btn-2" ng-click="filterByCategory('Stuffed Animal')">Stuffed animal</button>
                    </div>
                    <h2 class="text-brand">Brand</h2>
                    <div class="">
                        <button class="btn-brand" ng-click="filterByBrand('Blissful')">Blissful</button>
                        <button class="btn-brand" ng-click="filterByBrand('Surprz')">Surprz</button>
                        <button class="btn-brand" ng-click="filterByBrand('Giftio')">Giftio</button>
                        <button class="btn-brand" ng-click="filterByBrand('Happyx')">Happyx</button>
                        <button class="btn-brand" ng-click="filterByBrand('Wondro')">Wondro</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9" style="padding: 0;">
                    <div class="products">
                        <div class="products-item" ng-repeat="product in products | filter:search" 
                            ng-if="matchCategory(product) && matchBrand(product)">
                            <div class="img-products">
                                <a href="">
                                    <div class="img-container">
                                        <img ng-src="{{ product.img1 }}" alt="" class="img-item">
                                    </div>
                                </a>
                                <a href="" class="view-detals">View detals</a>
                            </div>
                            <h6 class="name-product">{{ product.name }}</h6>
                            <h5 class="price">${{ product.price }}</h5>
                            <div class="btn-cart">
                                <button class="btn btn-sm btn-add" ng-click="addToCart(product)" >
                                   <span><i class="fas fa-shopping-cart fa-xl"></i></span> Add to cart                  
                                </button>
                                <button class="btn btn-sm btn-compare">
                                    <span><i class="fa-solid fa-circle-plus fa-xl"></i></span> Compare
                                </button>
                                <!-- <a href="" class="btn btn-sm btn-add" id="xyz"><span><i class="fas fa-shopping-cart fa-xl"></i></span> Add to cart</a>                     -->
                                <!-- <a href="" class="btn btn-sm btn-compare"><span><i class="fa-solid fa-circle-plus fa-xl"></i></span> Compare</a>     -->
                            </div>                
                        </div>                       
                    </div>   
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="footer p-5">
        <div class="container">
            <div class="row">
                <div class="about-us col-md-4">
                    <h5 class="text-uppercase">About Us</h5>
                    <p>Giftshop is a store specializing in providing unique and meaningful gift products for special occasions.
                        We always prioritize customer satisfaction and are committed to providing quality products at reasonable prices.
                        </p>
                </div>
                <!-- quick links -->
                <div class="quick-links col-md-2">
                    <h5 class="text-uppercase">Menu</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="#">HOME</a></li>
                        <li class="nav-item"><a href="#">PRODUCTS</a></li>
                        <li class="nav-item"><a href="#">GALLERY</a></li>
                        <li class="nav-item"><a href="#">FEATURES</a></li>
                    </ul> 
                </div>
                <div class="col-md-2">
                    <div class="social-network">
                        <h5 class="text-uppercase">Socials</h5>
                        <p class="text-uppercase"><i class="fa-brands fa-facebook fa-xl"></i>Facebook</p>
                        <p class="text-uppercase"><i class="fa-brands fa-twitter fa-xl"></i>Twitter</p>
                        <p class="text-uppercase"><i class="fa-brands fa-instagram fa-xl"></i>Instagram</p>
                        <p class="text-uppercase"><i class="fa-brands fa-youtube fa-xl"></i>Youtube</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infomation">
                        <h5 class="text-uppercase">Contact</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><i class="fa-regular fa-envelope"></i>GiftShop@fpt.edu.vn</li>
                            <li class="nav-item"><i class="fa-solid fa-phone"></i>1900 1508</li>
                            <li class="nav-item"><i class="fa-solid fa-building"></i>8A-Ton That Thuyet-My Dinh-Ha Noi</li>
                            <li class="nav-item"><i class="fa-regular fa-clock"></i>8:00 - 18:00</li>
                        </ul> 
                    </div>                
                </div>
            </div>
        </div>
    </footer>

    <!-- Back to Top -->
    <div id="backtop">
        <i class="fa-solid fa-arrow-up"></i>
    </div>

    <!-- Script -->
    <script src="./products.js"></script>
    <script src="./appProducts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
</body>
</html>
