    <!-- Header -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark">            
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="mainNavbar">
            <div class="logo">
                <a href="#" class="">
                    <img src="./logo.png" alt="" class="d-block">
                </a>
            </div>
            <ul class="navbar-nav">
                <li> 
                    <a href="#">Home</a>
                </li>
                <li> 
                    <a href="#!product">Products</a>
                </li>
                <li> 
                    <a href="../gallery/Gallery.html">Gallery</a>
                </li>
                <li> 
                    <a href="../feature/feature.html">Features</a>
                </li>
                <li> 
                    <a href="../about-us/aboutUs.html">About Us</a>
                </li>
                <li> 
                    <a href="#contact-us">Contact</a>
                </li>
            </ul>   
            <div class="icon-header">
                <form action="">
                    <div class="input-group" >
                        <input type="text" class="form-control" ng-model="search.name" placeholder="Search for anything" id="search" name="search">
                        <div class="input-group-append">
                          <span class="input-group-text icon-search "><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
                        </div>
                    </div>
                </form>
                <a href="" class="icon-uc text-dark"><i class="fa-solid fa-user fa-xl"></i></a>
                <a ng-click="showcart()" class="icon-uc text-dark" >
                    <i class="fa-solid fa-cart-shopping fa-xl"></i>
                    <sup class="count-cart" ng-show="count > 0">{{ count }} </sup>
                </a>
            </div>
        </div>                  
    </nav>
</header>  
   <!-- Show cart -->
   <section class="showcart" ng-class="{ 'active': showCart }">
    <div>
        <div class="title-mycart">
        <a ng-click="closeCart()">
            <i class="icon-close fa-solid fa-xmark fa-2xl"></i>
        </a>
        <h2>Your cart ({{ count }} items)</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th>Action</th>                    
            </tr>
        </thead>
        <tbody id="mycart" >
            <tr ng-repeat="item in cartItems">
                <td><img style="width: 100px; border-radius: 10px;" ng-src="{{ item.img1 }}" alt=""></td>
                <td>${{ item.price }}</td>
                <td class="buy-amount">
                    <button class="btn-upDown" ng-click="downquantity(item)">-</button>
                    <input type="number"  ng-model="item.quantity"  min="1" ng-change="updateQuantity(item)">
                    <button class="btn-upDown" ng-click="upquantity(item)">+</button>
                </td>
                <td>${{ calculateSubTotal(item) | number: 2 }}</td>
                <td><button class="btn-delete" ng-click="delete(item.id)"><i class="fa-solid fa-trash fa-xl"></i></button></td>
            </tr>
        </tbody>
    </table>
    <div class="choice-cart">
        <p class="price-total" style="font-weight: bold;">Total: ${{ totalPrice | number: 2 }}</p>
        <a href="#!checkout"><button class="btn-checkout">Go to checkout</button></a>
        <a href="#!viewCart"><button class="btn-mycart">View my cart</button></a>
    </div>
    </div>     
</section>
<div class="overlay" ng-class="{ 'active': showCart }" ng-click="closeCart()"></div>
    <!-- Title -->
    <section class="title container-fluid">
        <h1 class="text-title">Products</h1>
    </section>
    <!-- Products -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="filter col-sm-4 col-md-4 col-lg-3">
                    <h2 class="text-catalogies">Categories</h2>
                    <div class="catalogies">
                        <button class="btn-catalogies btn-1" ng-click="filterByCategory('All')" ng-class="{ 'btn-catalogies-mouse': filterCategory === 'All' && filterBrand === '' }">All</button>
                        <button class="btn-catalogies btn-2" ng-click="filterByCategory('Snowball')" ng-class="{ 'btn-catalogies-mouse': filterCategory === 'Snowball' }">Snowball</button>
                        <button class="btn-catalogies btn-1" ng-click="filterByCategory('Ornaments')" ng-class="{ 'btn-catalogies-mouse': filterCategory === 'Ornaments' }">Ornaments</button>
                        <button class="btn-catalogies btn-2" ng-click="filterByCategory('Clock')" ng-class="{ 'btn-catalogies-mouse': filterCategory === 'Clock' }">Clock</button>
                        <button class="btn-catalogies btn-1" ng-click="filterByCategory('Hourglass')" ng-class="{ 'btn-catalogies-mouse': filterCategory === 'Hourglass' }">Hourglass</button>
                        <button class="btn-catalogies btn-2" ng-click="filterByCategory('Picture Frame')" ng-class="{ 'btn-catalogies-mouse': filterCategory === 'Picture Frame' }">Picture frame</button>
                        <button class="btn-catalogies btn-1" ng-click="filterByCategory('Mug')" ng-class="{ 'btn-catalogies-mouse': filterCategory === 'Mug' }">Mugs</button>
                        <button class="btn-catalogies btn-2" ng-click="filterByCategory('Stuffed Animal')" ng-class="{ 'btn-catalogies-mouse': filterCategory === 'Stuffed Animal' }">Stuffed animal</button>
                    </div>
                    <h2 class="text-brand">Brand</h2>
                    <div class="">
                        <button class="btn-brand" ng-click="filterByBrand('Blissful')" ng-class="{ 'btn-catalogies-mouse': filterBrand  === 'Blissful' }">Blissful</button>
                        <button class="btn-brand" ng-click="filterByBrand('Surprz')" ng-class="{ 'btn-catalogies-mouse': filterBrand  === 'Surprz' }">Surprz</button>
                        <button class="btn-brand" ng-click="filterByBrand('Giftio')" ng-class="{ 'btn-catalogies-mouse': filterBrand  === 'Giftio' }">Giftio</button>
                        <button class="btn-brand" ng-click="filterByBrand('Happyx')" ng-class="{ 'btn-catalogies-mouse': filterBrand  === 'Happyx' }">Happyx</button>
                        <button class="btn-brand" ng-click="filterByBrand('Wondro')" ng-class="{ 'btn-catalogies-mouse': filterBrand  === 'Wondro' }">Wondro</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9" style="padding: 0;">
                    <div class="products">
                        <div class="products-item" ng-repeat="product in products | filter:search" 
                            ng-if="matchCategory(product) && matchBrand(product)">
                            <div class="img-products">
                                <a href="">
                                    <div class="img-container">
                                        <img ng-src="{{ product.img1 }}" alt="" class="img-item">
                                    </div>
                                </a>
                                <a href="#!details/{{ product.id }}/{{ product.name }}" class="view-detail">
                                    View detail 
                                </a>
                            </div>
                            <h6 class="name-product">{{ product.name }}</h6>
                            <h5 class="price">${{ product.price }}</h5>
                            <div class="btn-cart">
                                <button class="btn btn-sm btn-add" ng-click="addToCart(product)" >
                                   <span><i class="fas fa-shopping-cart fa-xl"></i></span> Add to cart                  
                                </button>
                                <button class="btn btn-sm btn-compare" ng-click="showchoice(product)">
                                    <span><i class="fa-solid fa-circle-plus fa-xl"></i></span> Compare
                                </button>
                            </div>                
                        </div>         
                    </div>   
                </div>
            </div>
        </div>
    </section>
    <!-- Show choice compare -->
    <section class="showchoice" ng-class="{ 'active': showChoice }">
        <a ng-click="closechoice()">
            <i class="icon-close fa-solid fa-xmark fa-xl"></i>
        </a>
        <h4 class="text-center">Added Products for Comparison</h4>
        <div class="img-compare" >
            <div class="img-compare-item" ng-repeat="choice in productCompare">
                <img ng-src=" {{ choice.img }}" alt="">
                <p style="font-weight: 600;"> {{ choice.name }}</p>
                <button ng-click="deleteCompare(choice.id)"><i class="fa-solid fa-trash fa-xl"></i></button>
            </div>
        </div>
        <div class="btn-compare-products">
            <button ng-click="showtable()">Compare Products</button>                    
        </div>
    </section>

    <!-- Show table compare -->
    <section class="maintablecompare" ng-class="{ 'active2': showTable }">
        <a ng-click="closetablecompare()">
            <i class="icon-close fa-solid fa-xmark fa-xl"></i>
        </a>
        <div class="container">
            <div class="tablecompare row">
                <div class="col-md-3">
                    <ul class="main-li">
                        <li class="Feature"><b>Feature</b></li>
                        <li><b>Name</b></li>
                        <li><b>Price</b></li>
                        <li><b>Color</b></li>
                        <li><b>Sold</b></li>
                        <li><b>Quantity</b></li>
                        <li><b>Size</b></li>
                        <li><b>Categories</b></li>
                        <li><b>Brand</b></li>
                        <!-- <li><b>Desc</b></li> -->
                    </ul>
                </div>
                <div class="col-md-3" ng-repeat="choice in productCompare">
                    <ul class="main-li">
                        <li><img ng-src="{{ choice.img}}"></li>
                        <li>{{ choice.name}}</li>
                        <li>${{ choice.price}}</li>
                        <li>{{ choice.color}}</li>
                        <li>{{ choice.sold}}</li>
                        <li>{{ choice.quantity}}</li>
                        <li>{{ choice.size}}</li>
                        <li>{{ choice.categories}}</li>
                        <li>{{ choice.brand}}</li>
                        <!-- <li>{{ choice.desc}}</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="overlay2" ng-class="{ 'active2': showTable }" ng-click="closetablecompare()"></div>




