   <!-- Header -->
   <header>
    <nav class="navbar navbar-expand-md navbar-dark">            
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="mainNavbar">
            <div class="logo">
                <a href="#" class="">
                    <img src="/T2302M_G3/image/logo.png" alt="" class="d-block">
                </a>
            </div>
            <ul class="navbar-nav">
                <li> 
                    <a href="/T2302M_G3/index.html">Home</a>
                </li>
                <li> 
                    <a href="!#product">Products</a>
                </li>
                <li> 
                    <a href="#!gallery">Gallery</a>
                </li>
                <li> 
                    <a href="#!feature">Features</a>
                </li>
                <li> 
                    <a href="#!aboutUs">About Us</a>
                </li>
                <li> 
                    <a href="#contact-us">Contact</a>
                </li>
            </ul>   
            <div class="icon-header">
                <form action="">
                    <div class="input-group" >
                        <input type="text" class="form-control" ng-model="search.name" placeholder="Search for anything" id="search" name="search">
                        <div class="input-group-append">
                          <span class="input-group-text icon-search "><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
                        </div>
                    </div>
                </form>
                <a href="" class="icon-uc text-dark"><i class="fa-solid fa-user fa-xl"></i></a>
                <a ng-click="showcart()" class="icon-uc text-dark" >
                    <i class="fa-solid fa-cart-shopping fa-xl"></i>
                <div class="count-cart">
                    <p class="count-cart-sup" ng-show="count > 0">{{ count }} </p>
                </div>
                </a>
            </div>
        </div>                  
    </nav>
</header>  

  
    <!-- Check out -->
    <section class="container">
        <div class="title-myCart row justify-content-center">
            <div class="title-check col-md-8">
                <div>
                    <p class="number-cart6">1</p>
                    <p style="font-weight: 600;">CART</p>
                </div>
                <i class="fa-solid fa-angles-right fa-xl"></i>
                <div>
                    <p class="number-cart7">2</p>
                    <p style="font-weight: 600;">CHECKOUT</p>
                </div>
                <i class="fa-solid fa-angles-right fa-xl"></i>
                <div>
                    <p class="number-cart8">3</p>
                    <p style="font-weight: bold;">COMPLETE</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container mb-5">
        <h2 class="CHECKOUT text-center">Order placed</h2>
        <div class="row justify-content-center">
            <div class="checkout col-md-4">
               <div>
                    <p class="text-uppercase">Order summary</p>
                    <hr>
                    <div class="total-item" ng-repeat="item in cartItems">
                        <div>
                            <p>{{ item.name }} <span style="color: red;">x</span> {{ item.quantity }} </p>
                        </div>
                        <div >
                            <p>${{ calculateSubTotal(item) | number: 2 }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="total-item">
                        <div>
                            <p>Item(s) total</p>
                            <p>Shipping</p>
                        </div>
                        <div >
                            <p>${{ totalPrice | number: 2 }}</p>
                            <p>${{ shipping | number: 2 }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="total-item">
                        <p style="font-weight: bold;">Total </p>
                        <p style="color: red;">${{ total| number: 2 }}</p>
                    </div>
                    <a href="/T2302M_G3/index.html" class="d-flex justify-content-center">
                        <button type="submit" class="btn-checkout3" ng-click="returnHome()">Click here to return to the homepage</button>
                    </a>
               </div>
            </div>    
        </div>
    </section>
