<!-- Header -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark">            
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="mainNavbar">
            <div class="logo">
                <a href="/T2302M_G3/index.html" class="">
                    <img src="/T2302M_G3/image/logo.png" alt="" class="d-block">
                </a>
            </div>
            <ul class="navbar-nav">
                <li> 
                    <a href="#">Home</a>
                </li>
                <li> 
                    <a href="#!product">Products</a>
                </li>
                <li> 
                    <a href="#!gallery">Gallery</a>
                </li>
                <li> 
                    <a href="#!feature">Features</a>
                </li>
                <li> 
                    <a href="#!aboutUs">About Us</a>
                </li>
                <li> 
                    <a href="#contact-us">Contact</a>
                </li>
            </ul>   
            <div class="icon-header">
                <form action="">
                    <div class="input-group" >
                        <input type="text" class="form-control" ng-model="search.name" placeholder="Search for anything" id="search" name="search">
                        <div class="input-group-append">
                          <span class="input-group-text icon-search "><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
                        </div>
                    </div>
                </form>
                <a href="/T2302M_G3/src/login.html" class="icon-uc text-dark"><i class="fa-solid fa-user fa-xl"></i></a>
                <a ng-click="showcart()" class="icon-uc text-dark" >
                    <i class="fa-solid fa-cart-shopping fa-xl"></i>
                    <div class="count-cart">
                        <p class="count-cart-sup" ng-show="count > 0">{{ count }} </p>
                    </div>
                </a>
            </div>
        </div>                  
    </nav>
</header>   
  

    <section class="container">
        <div class="title-myCart row justify-content-center">
            <div class="title-check col-md-8">
                <div>
                    <p class="number-cart1" style="color: white;">1</p>
                    <p style="font-weight: bold;">CART</p>
                </div>
                <i class="fa-solid fa-angles-right fa-xl"></i>
                <div>
                    <p class="number-cart2">2</p>
                    <p style="font-weight: 600;">CHECKOUT</p>
                </div>
                <i class="fa-solid fa-angles-right fa-xl"></i>
                <div>
                    <p class="number-cart3">3</p>
                    <p style="font-weight: 600;">COMPLETE</p>
                </div>
            </div>
        </div>
    </section>
    <section class="table-myCart">        
        <div class="container">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                        <th>Action</th>                    
                    </tr>
                </thead>
                <tbody id="mycart" >
                    <tr ng-repeat="item in cartItems">
                        <td><img style="width: 100px; border-radius: 10px;" ng-src="{{ item.img }}" alt=""></td>
                        <td >{{ item.name }}</td>
                        <td>${{ item.price }}</td>
                        <td class="buy-amount">
                            <button class="btn-upDown" ng-click="downquantity(item)">-</button>
                            <input type="number"  ng-model="item.quantity"  min="1" ng-change="updateQuantity(item)">
                            <button class="btn-upDown" ng-click="upquantity(item)">+</button>
                        </td>
                        <td>${{ calculateSubTotal(item) | number: 2 }}</td>
                        <td><button class="btn-delete" ng-click="delete(item.id)"><i class="fa-solid fa-trash fa-xl"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-between">
                <div class="col-md-5">
                    <a href="#!product" class="return">
                        <i class="fa-solid fa-arrow-left"></i>
                        Return to Products
                    </a>
                </div>
                <div class="checkout col-md-5">
                    <p class="text-uppercase">Cart Totals</p>
                    <hr>
                    <div class="total-item">
                        <div>
                            <p>Item(s) total</p>
                            <p>Shipping</p>
                        </div>
                        <div >
                            <p>${{ totalPrice | number: 2 }}</p>
                            <p>${{ shipping | number: 2 }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="total-item">
                        <p style="font-weight: bold;">Total </p>
                        <p style="color: red;">${{ total| number: 2 }}</p>
                    </div>
                    <div class="text-center">
                        <a href="#!checkout">
                            <button class="btn-checkout1" type="button">Proceed to Checkout</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </section>
